@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'ubuntu', sans-serif;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.main{
    width: 100%;
    height: 100vh;
    background-image: url("photos/poduct bg.png");
    background-size: cover;
    background-position: top left;
}
.logo img{
    height: 65px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px;
    background-color: #fff;
    box-shadow: 2px 2px 20px rgba(90, 118, 253, 0.13);
    z-index: 1;
    width: 100%;
}
nav ul{
    display: flex;
    margin: 0px;
    padding: 0px;
}
nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 22px;
    display: flex;
    text-transform: uppercase;
    font-weight: 400;
    color: #111;
    letter-spacing: 1px;
}
nav ul li a:hover{
    background-color: #5a76fd;
    color: #fff;
    box-shadow: 5px 10px 30px rgba(90, 118, 253, 0.5);
    transition: all ease 0.2s;
}
.home-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
.home-img{
    width: 500px;
    height: 400px;
    margin: 20px;
}
.home-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.home-text{
    width: 500px;
    margin: 20px;
}
.home-text h1{
    font-size: 3.5rem;
    line-height: 55px;
    color: #22252e;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}
.home-text p{
    font-size: 1rem;
    color: #777474;
}
.main-login{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a76fd;
    color: #fff;
    box-shadow: 5px 10px 30px rgba(90, 118, 253, 0.5);
    text-transform: uppercase;
}
.main-login:hover{
    background-color: aqua;
    transition: all ease 0.3s;
}







/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* 
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* Navbar styling*/
/* .navbar{
    position: fixed;
    width: 100%;
    font-family: 'ubuntu', sans-serif;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(130, 236, 213);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: color 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 27px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: rgb(14, 13, 13);
} */
/* home bars */

/* .menu-btn{
    color: rgb(14, 13, 13);
    font-size: 27px;
    cursor: pointer;
    display: none;
} */

/* home section */

/* .home{
    display: flex;
    
    background: rgb(55, 123, 158);
    height: 100vh;
    color: rgb(14, 13, 13);
    min-height: 500px;
    font-family: 'ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 10px;
    top: auto;
}
.home .home-content .text-1{
    font-size: 27px; 
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
} */

/* responsive media */
/* @media (max-width:1300px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width:850px){
    
}
@media (max-width:850px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        height: 200vh;
        width: 100%;
        left: 0;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
}  */