@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'ubuntu', sans-serif;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.main{
    width: 100%;
    height: 100vh;
    background-image: url("photos/poduct bg.png");
    background-size: cover;
    background-position: top left;
}
.logo img{
    height: 65px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px;
    background-color: #fff;
    box-shadow: 2px 2px 20px rgba(90, 118, 253, 0.13);
    z-index: 1;
    width: 100%;
}
nav ul{
    display: flex;
    margin: 0px;
    padding: 0px;
}
nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 22px;
    display: flex;
    text-transform: uppercase;
    font-weight: 400;
    color: #111;
    letter-spacing: 1px;
}
nav ul li a:hover{
    background-color: #5a76fd;
    color: #fff;
    box-shadow: 5px 10px 30px rgba(90, 118, 253, 0.5);
    transition: all ease 0.2s;
}

/* Home page */
.home-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
.home-img{
    width: 500px;
    height: 400px;
    margin: 20px;
}
.home-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.home-text{
    width: 500px;
    margin: 20px;
}
.home-text h1{
    font-size: 3.5rem;
    line-height: 55px;
    color: #22252e;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}
.home-text p{
    font-size: 1rem;
    color: #777474;
}
.main-login{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a76fd;
    color: #fff;
    box-shadow: 5px 10px 30px rgba(90, 118, 253, 0.5);
    text-transform: uppercase;
}
.main-login:hover{
    background-color: aqua;
    transition: all ease 0.3s;
}

/* contant page */
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500px;
}
.contact .content p{
    font-weight: 300px;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-height: 60px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    border-radius:50% ;
    font-size: 30px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300px;
}
.container .contactInfo .box .text h3{
    font-weight: 300px;
    color: #00bcd4;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #dcf5f8;
}
.contactForm h2{
    font-size: 30px;
    color: #22252e;
    font-weight: 500px;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 40px;
}
.contactForm .inputBox input,textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 0.6px solid #22252e;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #0d0e0d;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 5px 0;
    background: #1bee3e;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
/* trying to get the screen to a fixed of 850px, and not to 
congest the information when gets below 850px  */
/* if can do it */
@media (max-width:850) {
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
}

/* Social media icons for contacts page */
.main .social{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    padding-bottom: 0px;
    /* border-top: 1px solid #00bcd4; */
    margin-top: 2%;
}
.main .social h6{
    font-size: 16px;
}
.main .social a{
    font-size: 22px;
    width: 45px;
    height: 45px;
    line-height: 39px;
    border-radius: 50%;
    border: 2px solid rgb(82, 236, 133);
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
    margin: 10px;
    /* color: rgba(255, 255, 255, 0.4); */
    /* background: #000; */
    opacity: 0.7;
    transition: 0.3s ease-in-out;
    color: #000;
}
.main .social a:hover{
    opacity: 0.9;
    box-shadow: 0px 1px 3px 2px rgba(255, 255, 255, 0.9);
}
.main .copyright{
    text-align: center;
    padding: 24px;
    font-weight: 500px;
    opacity: 0.8;
    font-size: 16px;
    margin-bottom: 0px;
    bottom: 0%;
}

/* i'm try to get the copy right to the center
 of Home,About and Gallery */
 /* if can be able to do i'd appriciate  */
.footer{
    position: fixed;bottom: 0;
    text-align: center;
}


















/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* 
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* Navbar styling*/
/* .navbar{
    position: fixed;
    width: 100%;
    font-family: 'ubuntu', sans-serif;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(130, 236, 213);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: color 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 27px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: rgb(14, 13, 13);
} */
/* home bars */

/* .menu-btn{
    color: rgb(14, 13, 13);
    font-size: 27px;
    cursor: pointer;
    display: none;
} */

/* home section */

/* .home{
    display: flex;
    
    background: rgb(55, 123, 158);
    height: 100vh;
    color: rgb(14, 13, 13);
    min-height: 500px;
    font-family: 'ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 10px;
    top: auto;
}
.home .home-content .text-1{
    font-size: 27px; 
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
} */

/* responsive media */
/* @media (max-width:1300px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width:850px){
    
}
@media (max-width:850px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        height: 200vh;
        width: 100%;
        left: 0;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
}  */