@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* Navbar styling*/
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: rgb(194, 62, 211);
    font-family: 'ubuntu', sans-serif;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

/* home section */

.home{
    display: flex;
    background: url("photos/RSQ8.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-1{
    font-size: 75px;
    font-weight: 600;
    margin: -3px;
}
.home .home-content .text-1{
    font-size: 40px;
    margin: 5px 0;
}